@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Newsreader", serif;
	letter-spacing: 1.5px;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background: rgb(54, 54, 54);
}

.section__titulo {
	text-align: center;
	font-size: 40px;
	color: darkgrey;
}

.contenedor {
	margin: auto;
	width: 99%;
}

.error {
	background: white;
	
	text-align: center;
	height: 150px;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	padding-top: 10px;
}

/*------------------Estilos del Header*---------------------------*/

.header {
	height: 60px;
}

.header .contenedor {
	display: flex;
	justify-content: space-between;
}

.logo,
.icon-menu {
	margin: 5px;
	color: white;
}

.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background-color: darkgrey;
	text-align: center;
	line-height: 45px;
	border-radius: 10px;
	margin-left: auto;
	cursor: pointer;
}

/*------------------Estilos de banner*---------------------------*/

.banner {
	margin-top: -60px;
	position: relative;
	z-index: -1000;
}

.banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: white;
	text-align: center;
}

.banner__txt {
	display: none;
}

/*------------------Estilos de info*---------------------------*/

.info__columna {
	background: darkgrey;
	color: white;
	padding: 15px;
	margin-bottom: 30px;
}

/*------------------Estilos de eventos*---------------------------*/

.eventos__columna {
	position: relative;
	margin-bottom: 30px;
}

.eventos__descripcion {
	position: absolute;
	text-decoration: none;
	text-align: center;
	top: 0;
	left: 0;
	color: white;
	background: rgb(0, 0, 0, 0.6);
	width: 70%;
	height: 100%;
	padding: 5px;
}

.eventos__descripcion:hover {
	background: rgb(0, 0, 0, 0.55);
}

.eventos__titulo {
	font-size: 25px;
	margin: 5px 0;
}

/*-------------------- Social --------------------*/
svg.icon {
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 25px;
	padding: 5px;
	margin: 0 5px 0 5px;
	background: white;
	border-radius: 45%;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.fb:hover {
	color: rgb(59, 89, 152);
}

.yt:hover {
	color: rgb(196, 48, 43);
}

.dc:hover {
	color: rgb(114, 137, 218);
}

.footer {
	background: black;
	color: white;
	padding: 10px;
	text-align: center;
	margin-top: 45px;
}

/*------------------BANNER---------------------*/
.banner {
	margin-top: -60px;
	position: relative;
	z-index: -1000;
}

.banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: white;
	text-align: center;
}

/*------------------Estilos responsive*---------------------------*/

@media (min-width: 480px) {
	.logo {
		font-size: 40px;
	}
	.banner__titulo {
		font-size: 30px;
		margin: 5px 0;
	}
	.banner__txt {
		display: block;
		font-size: 18px;
		margin: 7px 0;
	}
	.info,
	.eventos {
		display: flex;
		justify-content: space-between;
	}
	.info__columna {
		width: 32%;
	}

	.eventos {
		flex-wrap: wrap;
		margin-top: 0;
	}

	.section__titulo {
		width: 100%;
	}

	.eventos__columna {
		width: 49%;
	}

	.eventos__titulo {
		font-size: 20px;
	}

	.eventos__txt {
		font-size: 12px;
	}
	.footer .social [class^="icon-"] {
		margin: 0 10px;
	}
}

@media (min-width: 768px) {
	.banner__titulo {
		font-size: 50px;
	}

	.eventos__titulo {
		font-size: 30px;
	}

	.eventos__txt {
		font-size: 18px;
	}
}

@media (min-width: 1024px) {
	.contenedor {
		width: 1000px;
	}
	.section__titulo {
		font-size: 50px;
		margin: 10px 0;
	}
	.nav {
		position: static;
		width: auto;
	}

	.menu {
		display: flex;
	}

	.icon-menu {
		display: none;
	}

	.menu__link {
		background: none;
		font-size: 12px;
	}

	.select {
		color: white;
		background: red;
	}

	.banner__titulo {
		font-size: 60px;
	}

	.info__titulo {
		font-size: 40px;
		text-align: center;
	}

	.eventos__titulo {
		font-size: 45px;
	}
}
